extends ../layouts/common
block content
    h1.pb-3 Userlist
    form.form-inline.d-block(action="users/search",method="GET")
      input.form-control(id="search-text", type="text", placeholder="Type to search..", name='q')
      button.btn.btn-primary.ml-2(style="font-size: 20px") 
        i(class="fas fa-search")
    
    table.table(style="overflow: scroll;")
      tr
        th Name
        th Avatar
        th Age
        th City
        th Action
      each user in users
        tr
          td= user.username
          td
              img(src= "/"+ user.profileAvatar, width="32")
          td= user.age
          td= user.city
          td  
            a.btn.btn-primary(href='/users/' + user.id) View profile

    a.btn.btn-secondary(href="/users/register") New member
