extends ../layouts/common
block content
  h1 Registration
  if errors
    each error in errors
      .alert.alert-danger= error 
  form(action="/users/register", method="POST", enctype="multipart/form-data")
      .form-row
        .form-group.col-md-6
          label(for='inputUsername') Username
          input#inputUsername.form-control(type='text', name="username", placeholder='Username', value=value ? value.username : "")
        .form-group.col-md-6
          label(for='inputPassword4') Password
          input#inputPassword4.form-control(type='password', name="password", placeholder='Password')
      .form-group
        label(for='inputAge') Age
        input#inputAddress.form-control(type='text', name="age", placeholder='Your age', value=value ? value.age : "")
      .form-row
        .form-group.col-md-6
          label(for='inputCity') City
          input#inputCity.form-control(type='text', name="city", placeholder="Your city", value=value ? value.city : "")
      .form-row
        .form-group.col-md-6
          label(for='profileAvatar') Upload profile avatar
          input#inputAvatar.form-control-file(type="file", name="profileAvatar")
      button.btn.btn-primary(type='submit') Register

