extends ../layouts/common
block content
  html
  body
    h3.text-center.pb-3 User's profile
    table.table.table-bordered
      tbody
        tr
          th(scope='row', style="width:10%") Username
          td #{user.username}
        tr
          th(scope='row', style="width:10%") Avatar
          td 
            if(user.profileAvatar)
              img(src='/' + user.profileAvatar, width="160")
            else
              img(src="/images/no_profile_image.png")
        tr
          th(scope='row') Age
          td #{user.age}
        tr
          th(scope='row') City
          td #{user.city}


  a.btn.btn-primary(href='/users') Back
